{% extends 'VictoireCoreBundle:Widget:show.html.twig' %}

{% macro triptychCol(col) %}
    <div class="col-md-4">
        <h2 class="text-center">
            {{ col.title }}
        </h2>
        <h4 class="text-center">
            {{ col.subtitle }}
        </h4>
        <a href="{{ vic_link_url(col.link.parameters) }}">
            <img src="{{ asset(col.background.url) }}">
        </a>
    </div>
{% endmacro %}

{% block content %}
<div class="row">
    {{ _self.tryptichCol(colLeft) }}
    {{ _self.tryptichCol(colMiddle) }}
    {{ _self.tryptichCol(colRight) }}
</div>

{# The parent display the content variable, you can do your custom display here #}
{% endblock content %}
